/* SETTINGS */
:root {

  --background-color: rgb(51, 247, 133);
  --color-text-dark: #000000;
  --color-text-light: #FFFFFF;

  --bg-color-container: #15161a;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
  font-family: Helvetica, verdana, arial, sans-serif;
}

body { background-color: var(--background-color); }

/* header */
.header{
  height: 5vh;
  color: var(--color-text-dark);
  background-color: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between;

  width: 70%;
  padding: 1rem;
  margin: 0 auto;

}
.navbar-nav{
  display: flex;
  justify-content: space-between;
  width: 15%;

  list-style: none;
}

/* main content */
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100vw;
  height: 95vh;


}
.content-flipper{
  width: 80rem;
  color: var(--color-text-dark);
  text-align: center;
}
.box-content-flipper{  
  padding: 1rem;
  font-size: 5.5rem;
  border-radius: 1.5rem;
  background-color:var(--bg-color-container);
  color: var(--color-text-light);
}

/* muestra el color, con el texto del mismo color */
.color-content-flipper{
  display: block;
  font-size: inherit;
  color: var(--background-color);
}
.color-content-flipper--animated {
  animation-name: copyText;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
@keyframes copyText {
  from { 
    transform: scale(.7);
  }
  to{
    transform: scale(1);
  }
}

/* boton que ayudara a cambiar de forma aleatoria el color */
.btn-change-color{
  background-color: transparent;
  padding: 1.5rem;
  border-radius: 1.5rem;
  border: 0.1rem solid;
  margin-top: 3rem;
  color: var(--color-text-dark); 
  box-shadow: 0 .4rem 0.2rem ;
  transition: box-shadow .1s, transform .1s, background-color .1s;
  cursor: pointer;
}

.btn-change-color:active {
  transform: translateY(0.2rem);
  box-shadow: 0 0 0 ;
}

.btn-change-color:hover {
  background-color: rgba(255, 255, 255, 0.3);
}