/* SETTINGS */
:root {

  --color: rgb(36, 32, 44);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {background-color: var(--color);}

/* header */
.header{color:white;}
.navbar{}

/* main content */
.main-content{}
.content-flipper{color:white;}
.box-content-flipper{}
/* muestra el color, con el texto del mismo color */
.color-content-flipper{}
/* boton que ayudara a cambiar de forma aleatoria el color */
.btn-change-color{
  background-color: rgb(255, 94, 0);
}